@media all and (min-width: 480px) {
    .Login {
        padding: 0px 0;
    }

    .Login form {
        margin: 0 auto;
        max-width: 310px;
    }
    .logo form{
        margin: 0 auto;
        max-width: 310px;
        /*max-width: 1000px;*/
        text-align: center;
    }
}
.logo {
    margin: 0 auto;
    /*max-width: 1000px;*/
}
